/**
common
 */
a:hover {
    text-decoration: none;
}
/**
头部
 */
header {
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    line-height: 44px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    position: relative;
}
.site-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 0.5s;
    cursor: pointer;
}
.site-logo:hover {
    transform: rotate(360deg);
}
.site-name {
    margin-left: 5px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.bi.bi-search {
    cursor: pointer;
}
.bi.bi-search:hover {
    color: cornflowerblue;
}
.mobile-nav {
    position: absolute;
    right: 1.5rem;
}
.mobile-nav button:hover {
    box-shadow: none;
}
@media (min-width: 768px) {
    #mobile-nav {
        display: block!important;
    }
    .search-area {
        right: 50px!important;
    }
}
@media (min-width: 1200px) {
    .search-area {
        right: 20rem!important;
    }
}
.search-area {
    position: absolute;
    right: 5rem;
}
/**
重写modal
 */
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}

.modal-header .close {
    background: #FC4349;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    opacity: 1;
    outline: none;
}
.modal-header .close:hover {
    background: #002635;
}
/*
搜索框
*/
.search-block {
    background: #fff;
    width: 100%;
    position: absolute;
    height: 220px;
    left: 0;
    padding: 50px;
    z-index: 1;
    border-bottom: 1px solid #ececec;
}
.search-button {
    margin-top: 20px;
}
.search-area {
    outline: none;
    border: none;
    line-height: 48px;
    color: #000;
    background: none;
}
.search-area:focus, .close:focus {
    outline: none;
}
.close {
    outline: none;
}
.search-button {
    border-radius: 20px;
}
/**
导航
 */
.nav-link {
    text-align: center;
    height: 40px;
    color: #000;
    margin-bottom: 24px;
    padding: 0;
}
.nav-link.active {
    color: rgb(29,161,242);
}
.nav-item:hover {
    background-color: #1da1f21a;
    color: #1da1f2;
    border-radius: 25px;
}
.last-nav-item {
    background-color: rgb(27, 157, 231);
    border-radius: 25px;
    color: #fff;
    margin-top: 20px;
}
.last-nav-item:hover {
    background-color: rgb(8, 79, 117);
}
.nav-icon {
    max-width: 24px;
    max-height: 24px;
}
.nav-item-text {
    display: inline-block;
    padding: 10px;
    font-size: 19px;
    vertical-align: middle;
    font-weight: 700;
}
/**
文章列表
 */
.list {
    margin-top: 15px;
}
article {
    border: 1px solid #f0f2f7;
    padding: 1.25rem;
    position: relative;
}
.post-title {
    font-weight: 600;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
    text-decoration: none;
}
.post-title:hover {
    text-decoration: none;
}
.post-author img {
    border-radius: 50%;
}
.post-author a {
    color: #000;
    text-decoration: none;
    margin-left: .1rem;
}
.post-cover {
    margin-top: 10px;
    border-radius: 4px;
    margin-right: -10px;
}
.post-cover-inner {
    height: 100%;
    width: 100%;
}
.post-cover-inner img {
    width: 100%;
}
.post-content-inner {
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    outline: none!important;
}
.post-action:hover {
    color: rgb(37, 120, 196);
}
.post-icon {
    margin-right: 4px;
}
.post-plain, .post-datetime, .post-action {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.post-plain a {
    margin-left: 4px;
    color: #175199;
}
.post-plain a:hover {
    color: grey;
}
.btn-like:disabled {
    color: crimson;
}

/**
footer
 */
.footer-item {
    color: #8590a6;
}
.random-post {
    margin-top: 10px;
}
.random-post > .title {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    border: 1px solid rgba(133,153,171,0.2);
    border-radius: 4px 4px 0 0;
    padding: 0 20px;
}
.archive-posts {
    padding: 20px;
    border-bottom: 1px solid rgba(133,153,171,0.2);
    border-left: 1px solid rgba(133,153,171,0.2);
    border-right: 1px solid rgba(133,153,171,0.2);
    margin-top: -6px;
}
.archive-post {
    width: 100%;
    height: 28px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.archive-post > a {
    color: #000;
}
.archive-post > a:hover {
    color: rgb(37, 120, 196);
}
.user-container {
    margin-bottom: 10px;
}
.user-info {
    height: 105px;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.user-info .info {
    text-align: center;
}
.info .pic {
    border-radius: 50%;
    width: 4rem;
}
.info p{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
.user-detail {
    position: relative;
    z-index: 0;
}
.user-detail ul li {
    width: calc(100% / 3);
    list-style: none;
    text-align: center;
}
.recent-avatar {
    border-radius: 50%;
}
.recent-box {
    padding: 5px 15px 0 15px;
}
.recent-box ul {
    margin-bottom: 0;
}
.recent-box .title {
    font-size: 18px;
    padding: 10px 15px;
    border-bottom: 1px solid #e6ecf0;
}
.recent-box .content {
    font-size: 14px;
    color: #000;
}
.recent-box .content:hover {
    color: #0056b3;
}
/**
分页
 */
.page-pagination {
    margin-top: 10px;
}
.page-link {
    border-radius: 50% !important;
    margin: 5px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item {
    line-height: 32px;
}
/**
滚动条
 */
/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/**
暗黑模式
 */
.theme-dark header {
    background: rgba(52,50,50,0.7);
    backdrop-filter: blur(20px);
    border: none;
}
.theme-dark {
    background: #121212;
}
.theme-dark .site-name {
    color: rgba(255,255,255,0.87);
}
.theme-dark .site-name:hover {
    color: #0056b3;
}
.theme-dark .search-area {
    color: rgba(255,255,255,1);
}
.theme-dark .mobile-nav button {
    color: rgba(255,255,255,1);
}
.theme-dark .random-post {
    background: rgba(52,50,50,0.7);
}
.theme-dark  .random-post > .title {
    color: rgba(255,255,255,0.87);
    border: none;
}
.theme-dark  .archive-posts {
    border: none;
}
.theme-dark .archive-post > a {
    color: rgba(255,255,255,0.87);
}
.theme-dark .archive-post > a:hover {
    color: #0056b3;
}
.theme-dark article {
    background: rgba(52,50,50,0.7);
    border: none;
}
.theme-dark .list article {
    margin-bottom: 5px;
}
.theme-dark .post-title {
    color: rgba(255,255,255,0.87);
}
.theme-dark .post-title:hover {
    color: #0056b3;
}
.theme-dark .post-author a {
    color: #fff;
}
.theme-dark .post-content-inner {
    color: rgba(255,255,255,0.6);
}
.theme-dark .post-plain a {
    color: rgba(255,255,255,0.38);
}
.theme-dark .nav-menu {
    background: rgba(52,50,50,0.7);
    margin-bottom: 2px;
    padding: 5px;
}
.theme-dark .nav-link {
    color: rgba(255,255,255,0.87);
}
.theme-dark .page-item.active .page-link {
    background-color: rgba(0,0,0,0.6);
}
.theme-dark .page-link {
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.6);
}
.theme-dark footer {
    color: rgba(255,255,255,0.87);
}
.theme-dark .OwO .OwO-logo {
    color: rgba(255,255,255,0.6);
}
.theme-dark .OwO .OwO-logo {
    background: rgba(52,50,50,0.7);
}
.theme-dark .OwO:hover .OwO-logo {
    color: rgba(255,255,255,0.6);
}
.theme-dark .user-container, .theme-dark .recent-box {
    background: rgba(52,50,50,0.7);
}
.theme-dark .detail-num, .theme-dark .recent-box .title {
    color: rgba(255,255,255,0.87);
}
.theme-dark .recent-box .content, .theme-dark .recent-box h6 {
    color: rgba(255,255,255,0.6);
}
.theme-dark .search-block {
    background-color: rgba(52,50,50,0.7);
    border-bottom: 1px solid #222222;
}
.theme-dark .search-block h4 {
    color: rgba(255,255,255,0.87);
}
.theme-dark .close {
    color: rgba(255,255,255,0.87);
}
.theme-dark .breadcrumb.search{
    background-color: rgb(52,50,50);
    color: rgba(255,255,255,0.87);
    position: relative;
    z-index: -1;
}