@import url(post.css);
@import url(comments.css);
@import url(OwO.min.css);
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Medium';
    src: url("../font/HarmonyOS_Sans_SC_Medium.subset.woff2");
}
* {
    font-family: HarmonyOS_Sans_SC_Medium;
}
:root {
    --box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    --theme-color: rgb(29, 161, 242);
    --theme-choose-color: #1da1f21a;
    --text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    --theme-text-color: #4a4a4a;
    --light-background: #fff;
    --radius: 6px;
    --text1:#18191c;
    --text2:#61666D;
    --text3: #dcdfe6;
    --text4: #e4e7ed;
    --dark-text-normal-color: rgba(255, 255, 255, 0.87);
    --dark-content: rgba(52, 50, 50, 0.7);
    --dark-text-gray-color: rgba(255, 255, 255, 0.6);
    --dark-background: #121212;
    --routine: #606266;
    --dark-routine: #888;
}

/**
common
 */
a, a:hover {
    text-decoration: none;
}
.card {
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    border: none;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}
.dropdown-menu {
    border: none;
}


/**
头部
 */
.container {
    margin-top: 1rem;
    position: relative;
}
header {
    display: flex;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    background: var(--light-background);
    box-shadow: var(--box-shadow);
    height: 2.8rem;
    border-bottom: 1px solid var(--theme-text-color);
}
.toolbar-left {
    font-size: 20px;
}
.mobile-button {
    outline: none !important;
    border: none;
    line-height: 48px;
    color: #000;
    background: none;
}
.mobile-nav.active {
    position: absolute;
    z-index: 9999;
    left: 0px;
    background-color: #fdfbfb;
}
/**
导航
 */
.logo-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 90px;
    padding: 1.5rem .5rem 1rem;
    margin-left: 3rem;
}

@-webkit-keyframes changeImg {
    from {
        left: -100%;
    }
    100% {
        left: 150%;
    }
}

.logo-shine {
    position: absolute;
    -webkit-animation: changeImg 3s ease 0s;
    -o-animation: changeImg 3s ease 0s;
    animation: changeImg 3s ease 0s;
    top: 0;
    width: 30%;
    height: 100%;
    content: "";
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-45deg);
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.site-logo {
    height: 45px;
    vertical-align: middle;
    cursor: pointer;
}
.nav-menu {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    margin-left: 3rem;
}
.nav-item {
    flex: 100%;
}

.nav-link {
    color: #000;
    padding: .6rem 1rem;
}

.nav-link.active {
    color: var(--theme-color);
}

.nav-link:hover {
    background-color: var(--theme-choose-color);
    color: var(--theme-color);
}

.nav-icon {
    max-width: 24px;
    max-height: 24px;
    margin-right: -9px;
    margin-left: 9px;
}

.nav-item-text {
    display: inline-block;
    padding: 10px;
    font-size: 19px;
    vertical-align: middle;
    font-weight: 700;
}

.nav-item .icon {
    margin-left: 6px;
}

.dropdown-menu {
    box-shadow: var(--box-shadow);
}

.dropdown-item:hover span {
    margin-left: 0.5rem;
}

.dropdown-item span {
    transition: .18s ease-out;
}
/*
 幻灯片
*/
.carousel-item {
    max-height: 280px;
}

.carousel_link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}


.carousel-inner {
    box-shadow: var(--box-shadow);
}
.ol.carousel-indicators{
    bottom: 0px;
    margin-bottom: 0px;
}
ol.carousel-indicators li {
    width: 6px;
    height: 6px;
}
ol.carousel-indicators li.active {
    width: 8px;
    height: 8px;
}
.carousel-control-prev,.carousel-control-next {
    display: none;
}
/**
文章列表
 */
.article-list {
    margin-top: 1.5rem;
}

article, main, .article-comments {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding: 1.2rem;
    border-radius: 5px 0 5px 5px;
}

article .sticky {
    position: absolute;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);;
    color: #ffffff;
    text-align: center;
    top: -12px;
    right: -32px;
    width: 80px;
    height: 40px;
    line-height: 54px;
    transform: rotate(45deg);
}

.post-author img {
    width: 40px;
    border-radius: 50%;
}

.post-body a.post-title {
    word-break: break-all;
    letter-spacing: 0.06rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--theme-text-color);
    margin-top: 6px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.post-body a.post-title:hover {
    color: var(--theme-color);
}

.post-excerpt {
    margin-bottom: 0.5rem;
    background-color: #eef3fc;
    color: #2160c4;
    padding: 1.25em 1.5em;
    line-height: 1.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    min-height: 3.625rem;
}

.post-meta .item {
    color: #7a7a7a;
    user-select: none;
    margin-right: 0.75rem;
}

.post-more {
    background-color: #e8e8e8;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    cursor: pointer;
    padding: calc(0.375em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    font-size: .85rem;
}

.post-more:hover {
    background-color: #eee;
    color: rgba(0, 0, 0, 0.7);
}

.post-category {
    margin-bottom: 1.5rem;
}

.post-category a {
    font-size: .5rem;
    color: var(--theme-text-color);
    text-shadow: var(--text-shadow);
    font-weight: 700;
}

.post-like.btn-like {
    cursor: pointer;
    margin-left: 1.2rem;
}

.post-like .agree-num {
    background: #eee;
    border-radius: 50%;
    padding: 0 5px;
    font-size: .2rem;
    color: #222;
}

.post-cover {
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-height: 280px;
}

.post-cover img {
    object-fit: cover;
    width: 100%;
}
.post-like {
    cursor: pointer;
}

/**
侧边栏
 */
.search-bar {
    margin-bottom: .5rem;
    position: relative;
}
@media screen and (max-width: 576px)  {

    .nav-search-btn {
        right: 0!important;
    }
}
.nav-search-input {
    padding: 0 10px;
    width: 100%;
    border: 1px solid #e3e5e7;
    height: 40px;
    background-color: var(--light-background);
    opacity: .9;
    transition: background-color .3s;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}
.nav-search-input:hover {
    background: #f1f2f3;
}
.nav-search-input:focus,.nav-search-btn:focus {
    outline: none;
}
.nav-search-btn {
    position: absolute;
    top: 3px;
    right: 7px;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    color: var(--text1);
    line-height: 32px;
    cursor: pointer;
    transition: background-color .3s;
    background: transparent;
}
.nav-search-btn:hover {
    background: #f1f2f3;
}
.footer-item {
    color: #8590a6;
}
.user-container {
    margin-bottom: 1rem;
}
.user-info {
    background-size: 100% 100px;
    background-repeat: no-repeat;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}

.user-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: url("../img/userinfo_bg.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
}

.user-info::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 268px;
    background-size: cover;
    background-image: url("../img/snow.gif");
}

.user-info:hover::after {
    display: block;
}

.user-info .info {
    text-align: center;
    cursor: pointer;
}
.couple {
    text-align: center;
}

.info .pic,.couple .pic {
    border-radius: 50%;
    width: 5rem;
    background: #fff;
    padding: 2px;
}

.couple-love {
    width: 35px;
    margin: 20px 0;
    animation: heartbeat 1.33s ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.user-container p {
    color: var(--theme-color);
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

.card-icon {
    justify-content: center;
    width: 100%;
    display: flex;
    background: #ececec1f;
    height: 60px;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-icon a {
    margin: 5px;
    color: inherit;
}

.card-info-description {
    user-select: none;
    text-align: center;
    margin-top: -6px;
}
.time-text{
    text-align: center;
    color: #b5b5b5;
    font-size: .6rem;
    margin: .2rem 0;
}
#our-company {
    text-align: center;
    margin: 1rem auto;
    color: #7d7474;
    background: aliceblue;
    width: 100%;
    border-radius: 4px;
    padding: 0.5rem 0;
    user-select: none;
}

#our-company span {
    margin: 0 .25rem;
    vertical-align: middle;
}

.card-header {
    border-bottom: none;
}


.sidebar-box {
    border: 1px solid #e9ecef;
    background-color: #fff;
    min-height: 10rem;
    color: var(--theme-text-color);
    word-break: break-all;
    border-radius: var(--radius);
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.sidebar-rand-item {
    height: 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--radius);
    margin-bottom: 1rem;
}

.sidebar-rand-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.sidebar-rand-content {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.sidebar-rand-footer {
    font-size: 12px;
    color: white;
}

.sidebar-rand-body a {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-word;
}

.sidebar-rand-body a {
    color: white;
}

.sidebar-reply-img {
    width: 40px;
}

.sidebar-reply-content {
    color: var(--theme-text-color);
}
.count {
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text3);
    user-select: none;
}
.count .item {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--routine);
    font-size: .6rem;
}
.count .item:not(:last-of-type) {
     border-right: 1px solid var(--text3);
 }
.count .num {
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1rem;
    color: var(--theme-text-color);
    margin-bottom: 3px;
    text-shadow: var(--text-shadow);
}
/*
返回顶部
*/
@media (max-width: 1000px) {
    .back-to-top {
        display: none !important;
    }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    width: 65px;
    height: 65px;
    right: 0;
    line-height: 65px;
    bottom: 0;
}

/*
fix*/
.is-fixed {
    position: fixed;
    top: 60px;
}

@media (max-width: 768px) {
    .is-fixed {
        position: unset;
        text-align: center;
    }
}

/**
404
 */
.error-page {
    text-align: center;
    font-size: 1rem;
}

.error-page .icon.test {
    font-size: 15.625rem;
}

/*
转换按钮
*/
.chose-mode-day, .chose-mode-moon, .mobile-button {
    outline: none !important;
    border: none;
    line-height: 48px;
    color: #000;
    background: none;
}
.chose-mode-moon {
    display: none;
}
.ze_DarkSky, .ze_DarkSky:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 88888888
}

.ze_DarkSky {
    background: linear-gradient(#feb8b0, #fef9db)
}

.ze_DarkSky:before {
    transition: 2s ease all;
    opacity: 0;
    background: linear-gradient(#4c3f6d, #6c62bb, #93b1ed)
}
.ze_DarkPlanet {
    z-index: 99999999;
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation: zePlanetMove 2s cubic-bezier(.7, 0, 0, 1);
    animation: zePlanetMove 2s cubic-bezier(.7, 0, 0, 1);
    transform-origin: center bottom
}

@-webkit-keyframes zePlanetMove {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes zePlanetMove {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.ze_DarkPlanet svg {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    content: "";
}
.theme-dark .ze_DarkSky:before {
    opacity: 1
}
/**
分页
 */
.page-pagination {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}
.page-pagination a {
    position: relative;
    display: inline-block;
    width: 110px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    border-radius: 100px;
    transition: 0.3s ease-in-out;
    color: #f1f4f8;
    background-color: var(--theme-color);
    overflow: hidden;
}
.page-pagination {
    position: relative;
}
.page-pagination .loading::after {
    content: '';
    display: inline-block;
    background-image: url(../img/ico-xiaoji.png);
    width: 13px;
    height: 13px;
    position: absolute;
    top: 4px;
}

/**
滚动条
 */
/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/**
暗黑模式
 */
.theme-dark header {
    background: var(--dark-content);
    backdrop-filter: blur(20px);
}
.theme-dark .mobile-nav.active {
    background-color: var(--dark-background);
}
.theme-dark {
    background: var(--dark-background);
}
.theme-dark .toolbar-left{
    color: var(--dark-text-normal-color);
}
.theme-dark .user-info {
    background-color: #0000 !important;
}

.theme-dark .mobile-button {
    color: var(--dark-text-normal-color);
}
.theme-dark article {
    background: var(--dark-content);
}
.theme-dark .nav-menu {
    background-color: var(--dark-content);
}
.theme-dark .nav-link {
    color: var(--dark-text-normal-color);
}
.theme-dark .page-item.active .page-link {
    background-color: var(--dark-background);
}

.theme-dark .page-link {
    color: var(--dark-text-gray-color);
    background-color: var(--dark-content);
}

.theme-dark #icon-you path, .theme-dark #icon-zuo path {
    fill: var(--dark-text-gray-color);
}

.theme-dark footer {
    color: var(--dark-text-normal-color);
}

.theme-dark .OwO:hover .OwO-logo {
    color: var(--dark-text-gray-color);
}

.theme-dark .user-container {
    background: var(--dark-content);
}

.theme-dark .user-detail {
    background: none;
    color: var(--dark-text-gray-color);
}

.theme-dark .card-icon {
    color: #ffffff;
    background: var(--dark-content);
}

.theme-dark .card-info-description {
    color: var(--dark-text-normal-color);
}

.theme-dark .close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.theme-dark .chose-mode-day, .theme-dark .chose-mode-moon {
    color: var(--dark-text-normal-color);
}

.theme-dark #our-company {
    background-color: rgb(42 40 40);
}

.theme-dark .sidebar-box {
    background: var(--dark-content);
    color: var(--dark-text-normal-color);
    border: none;
}

.theme-dark .post-meta .item, .theme-dark .post-body a.post-title, .theme-dark .post-category a {
    color: var(--dark-text-normal-color);
}

.theme-dark .post-excerpt {
    background: var(--dark-content);
    color: var(--dark-text-normal-color);
}

.theme-dark .post-excerpt .icon,
.theme-dark .post-like .icon,
.theme-dark .post-meta .item .icon {
    background: var(--dark-text-normal-color);
    border-radius: 50%;
}

.theme-dark .logo-shine {
    animation-play-state: paused;
}
.theme-dark .count {
    border-bottom: none;
}
.theme-dark .count .item:not(:last-of-type) {
    border-right: 1px solid var(--dark-routine);
}
.theme-dark .count .num {
    color: var(--dark-text-gray-color);
}
.theme-dark .count .item {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-routine);
    font-size: .6rem;
}
.theme-dark .page-pagination a {
    background-color: var(--dark-content);
}
.theme-dark .comment-close {
    color: var(--dark-text-normal-color);
}